* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Space Mono', monospace;
}

#videoBG {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
}

/*body {
  font-size: 14px;
  background-color: #0c0c16;
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:  center top;
  background-attachment: fixed;
}*/

/*
#crt{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(/img/ctr.png);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
  background-attachment: fixed;
  z-index: 9999;
  pointer-events: none;
  display: none;
}

body {
  font-size: 14px;
  background-color: #090909;
  background-image: url(/img/crtview.png);
  background-repeat: no-repeat;
  background-size:  110%;
  background-position:  center;
  background-attachment: fixed;
}*/

body {
  font-size: 16px;
  line-height: 28px;
  background-color: #090909;
  background-image: url(../img/bg.png);
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

main {
  padding-top: 20px;
}

nav {
  line-height: 0;
}

#brand {
  font-weight: 700;
  font-size: 24px;
}

#links {
  padding-left: 86px;
}

#secs li {
  text-align: center;
  border-radius: 4px;
  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 4px;
  padding: 4px;
}

/* #links li {
  background-color: #fff;
  display: block;
  margin-right: 8px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.6;
  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

#links li a{
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}

#links li:hover{
  opacity: 1;
}

#links li:last-child{
  margin: 0;
}

#links li#patreon {
  background-color: #ff424d;
  background-image: url(/img/icon_patreon.png);
  background-position: center;
  background-repeat: no-repeat;
}

#links li#itchio {
  background-color: #fa5c5c;
  background-image: url(/img/icon_itchio.png);
  background-position: center;
  background-repeat: no-repeat;
}

#links li#twitter {
  background-color: #1d9bf0;
  background-image: url(/img/icon_twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}

#links li#email {
  background-color: #34a853;
  background-image: url(/img/icon_email.png);
  background-position: center;
  background-repeat: no-repeat;
} */

.bg-dark-opacity {
  background-color: rgba(10, 10, 28, 0.9);
  border-top: 7px solid #7f78b1;
}

.bg-red1-opacity {
  background-color: rgba(103, 53, 174, 0.7);
  background-color: rgba(52, 32, 92, 0.7);
  background-color: rgba(28, 27, 81, 0.7);
  border-top: 7px solid #7f78b1;
}

#index p {
  margin: 30px 0 60px 0;
}

#index .btn-secondary {
  width: 33%;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 30px;
}

.btn-secondary {
  background-color: #514a81;
}

.btn-secondary:hover {
  background-color: #3f396a;
  border-color: #ff424d;
}

h1 {
  text-shadow: 3px 0 3px rgba(10, 10, 28, 0.5);
  padding-bottom: 20px;
}

h2 {
  font-size: 36px;
}

.highlight {
  display: inline-block;
  background-color: #ff424d;
  padding: 0 8px;
}

h2.highlight {
  margin-bottom: 0;
}

#portfolio h1 {
  padding-bottom: 30px;
}

#portfolio .bg-dark-opacity {
  padding-bottom: 60px;
  border: none;
  background-color: rgba(10, 10, 28, 0.9);
  border: 1px solid #e3684a;
  border-bottom: 1px solid #e3684a;
}

footer {
  padding-bottom: 10px;
}

#contact {
  margin: 40px 0 0 0;
}

#dungeonpack .row {
  margin: 20px 0;
}

#dungeonpack .getlink {
  margin: 20px 0 0 0;
}

#dungeonpack .getlink button {
  font-size: 18px;
  font-weight: bold;
}

#newsletterMessage {
  display: none;
}

#sendingEmail {
  text-align: center;
  opacity: 0.5;
  display: none;
  padding: 0;
  margin: 0;
  height: 20px;
}

@media (max-width: 1000px) {
  #index .btn-secondary {
    width: 100%;
    margin: 10px 0;
  }

  nav {
    line-height: normal;
    text-align: center;
  }

  nav .nav-item {
    background-color: rgba(10, 10, 28, 0.9);
  }

  .btn {
    width: 100%;
  }

  .float-end {
    display: none;
    margin: auto;
  }

  footer .container {
    text-align: center;
    padding-bottom: 10px;
  }

  h1.display-5 {
    font-size: 40px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  footer {
    opacity: 0.5;
  }

  footer .text-secondary {
    color: #fff !important;
  }

  footer .text-secondary a {
    color: #fff !important;
  }

  body {
    background: linear-gradient(-180deg, #1c1b51, #d674d6);
    background-size: 100% 150%;
    background-attachment: fixed;
  }

  #navbarCollapse {
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  #links {
    padding: 0;
  }

  #secs li {
    margin: 0;
    border: none;
    padding: 0;
  }

  #commissions .p-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  #commissions .highlight{
    padding-bottom: 4px;
  }

  #becomeAPatreon{
    margin-bottom: 24px;
  }
}